@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('static/fonts/OpenSans-Regular/');
  src: local('OpenSans-Regular'), local('OpenSans-Regular'),
    url('static/fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('static/fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
    url('static/fonts/OpenSans-Regular/OpenSans-Regular.svg') format('svg');
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('static/fonts/OpenSans-Bold/');
  src: local('OpenSans-Bold'), local('OpenSans-Bold'),
    url('static/fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
    url('static/fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'),
    url('static/fonts/OpenSans-Bold/OpenSans-Bold.svg') format('svg');
}

@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: Light;
  src: url('static/fonts/OpenSans-Light/');
  src: local('OpenSans-Light'), local('OpenSans-Light'),
    url('static/fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'),
    url('static/fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype'),
    url('static/fonts/OpenSans-Light/OpenSans-Light.svg') format('svg');
}
